@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-abhaya-libre: "Abhaya Libre";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-gray-100: #fafafa;
  --color-gray-200: #040404;
  --color-orange: #ffa928;
  --color-black: #000;
  --color-darkslateblue: #4b0d4b;
  --color-white: #fff;
  --color-dimgray: #6c6c6c;
  --color-thistle: #cec6d9;

  /* Gaps */
  --gap-42xl: 61px;
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-23xl: 42px;
  --padding-smi: 13px;
  --padding-41xl: 60px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-39xl: 58px;
  --padding-3xl: 22px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-3xs: 10px;
}
